* {
    box-sizing: border-box;
}
body {
    font-family: monospace;
    color: white;
    background-color: black;
    margin: auto;
    max-width: 1100px;
    align-content: center;
}
footer {
    padding: 10px;
    text-align: center;
}
.welcome {
    width: 400px;
    height: 100px;
    border: 7px solid #be4a4a;
    border-left-color: #ae9fce;
    border-top-color: #ae9fce;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 70px;
    font-family: georgia;
}
.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: auto;
}
.guidesnap {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    padding-bottom: 10px;
}
.direct {
    background-color: #ac4a4a;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 185px;
    height: 40px;
    box-shadow: -1px 3px 0 #ae9fce;
    margin: 5px;
}
.direct:hover {
    top: 3px;
    left: -3px;
    box-shadow: -1px 1px 0 #ae9fce;
    cursor: grab;
    transform: translateY(2px);
}
.mode {
    float: right;
    color: black;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: solid #a8d3e6 2px;
    display: inline-block;
    box-shadow: -3px 2px 0 #a8d3e6;
    background-color: white;
    margin-right: 5px;
}
.mode:hover {
    top: 3px;
    left: -3px;
    box-shadow: -1px 1px 0 #a8d3e6;
    cursor: grab;
    transform: translateY(2px);
}
.light-mode {
    background-color: whitesmoke;
    color: black;
}
.downloadresume {
    background-color:black;
    border-radius: 20px;
    display: block;
    font-size: 14px;
    text-align: center;
    width: auto;
    height: 40px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #be4a4a;
    border-left-color: #ae9fce;
    border-top-color: #ae9fce;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
.downloadresume:hover {
    top: 3px;
    left: -3px;
    cursor: grab;
    transform: translateY(2px);
}
.guide {
    background-color:black;
    border-radius: 20px;
    color: black;
    display: block;
    font-size: 14px;
    text-align: center;
    width: auto;
    height: 40px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #be4a4a;
    border-left-color: #ae9fce;
    border-top-color: #ae9fce;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
.guide:hover {
    top: 3px;
    left: -3px;
    cursor: grab;
    transform: translateY(2px);
}
p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}
h1 {
	text-align: center;
	font-size: 30pt;
    padding-top: 5px;
    margin: 0;
}
h2 {
    font-size: 20pt;
    text-align: center;
    color: lightblue;
}
h3 {
    font-size: 19pt;
    text-align: center;
    color: lightblue;
}
hr {
    border-top: 3px solid black;
    border-bottom: 3px solid white;
    width: 300px;
    display: block;
}
p {
    font-family: monospace;
    font-size: 17pt;
    line-height: 1.5;
}
ul {
    font-size: 16pt;
}
nav {
	margin: 25px auto;
    margin-top: 30px;
	position: relative;
	max-height: auto;
    max-width: 500px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 12px;
    font-family: Verdana;
    text-align: center;
}
nav a {
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
    font-family: Verdana;
	text-align: center;
	color: white;
	cursor: pointer;
    padding: 14px 16px;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 120px;
}
a:nth-child(2) {
	width: 120px;
}
a:nth-child(3) {
	width: 120px;
}
a:nth-child(4) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 120px;
	left: 0;
	background-color: #1abc9c;
}
@media only screen and (max-width: 768px) {
    .animation {
        display: none;
    }
}
nav .start-projects, a:nth-child(2):hover~.animation {
	width: 120px;
	left: 120px;
	background-color: #e74c3c;
}
nav .start-writings, a:nth-child(3):hover~.animation {
	width: 120px;
	left: 250px;
	background-color: #3498db;
}
nav .start-resume, a:nth-child(4):hover~.animation {
	width: 136px;
	left: 370px;
	background-color: #9b59b6;
}
span {
    color: #2BD6B4;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: plum;
    text-decoration: line-through;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: white;
}
ul {
    margin: 2;
    padding: 10px;
    border-radius: 12px;
}
li {
    padding-bottom: .5em;
}
.resume1 {
    width: 50%;
    padding: 15px;
}
.resume2 {
    width: 50%;
    padding: 15px;
}
.toc {
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: Verdana;
    padding: 0 20px;
    margin-top: 20px;
    margin-right: 20px;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    width: 350px;
    overflow:hidden;
    font-size: 16px;
    color: black;
}
.toc a {
    display: block;
    width: 100%;
}
.menu {
    float: right;
    width: 20%;
    padding: 25px;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
}
.collapsible {
    align-items: center;
    background-color: #FCFCFD;
    box-shadow: #808080 0 3px 4px,#808080 0 7px 15px 2px,#a8d3e6 0 -3px 0 inset;
    border: 0;
    cursor: grab;
    display: inline-flex;
    height: 37px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    border-radius: 9px;
    font-size: 10px;
    width: 38px;
    align-content: center;
    text-align: center;
}
.collapsible:after {
    content: "\002B";
    color: lightgrey;
    align-content: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.collapsible:hover {
    box-shadow: #a8d3e6 0 2px 4px,#a8d3e6 0 7px 13px -3px,#a8d3e6 0 -3px 0 inset;
    transform: translateY(2px);
}
.writings {
    padding: 25px;
    width: 80%;
}
.display-container {
    position: relative;
    margin: auto;
    width: auto;
}
.prev, .next {
    cursor: grab;
    position: absolute;
    top: 40%;
    width: auto;
    height: 90px;
    padding: 16px;
    margin-top: -22px;
    color: lightblue;
    background-color: gray;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: .8;
    align-content: center;
    text-align: center;
    
}

/* Position "next button" to right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: lightgray;
  color: lightblue;
}

.numbertext {
    color: lightblue;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: gray;
    opacity: .8;
}

.dot {
  cursor:grab;
  height: 13px;
  width: 13px;
  margin: 5px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: lightblue;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mySlides {
    display: none;
}

@media only screen and (max-width: 768px) {
    [class*="column3"] {
        width:100%;
    }
}
@media only screen and (max-width: 768px) {
    [class*="menu"] {
        width: 100%;
        position: static;
    }
}
@media only screen and (max-width: 768px) {
    [class*="resume2"] {
        width:100%;
    }
}
@media only screen and (max-width: 768px) {
    [class*="resume1"] {
        width: 100%;
        position: static;
    }
}