*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body {
    font-family: monospace;
    text-align: center;
    align-content: center;
    margin: 10px;
    background-color: black;
}
p {
    font-size: 14pt;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}
h2 {
    font-size: 20pt;
    color: white;
    padding-bottom: 35px;
    text-decoration: underline;
}
h3 {
    font-size: 16pt;
    color: white;
    background-color: mediumpurple;
    padding: 10px;
    border: none;
    margin: 10px;
}
h4 {
    color: white;
    font-size: 15pt;
    border: solid red 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
hr {
    border: solid 3px red;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}
a.toc:link {
    text-decoration: none;
    color:whitesmoke;
}
a.toc:visited {
    color: whitesmoke;
}
a.toc:hover {
    color: blue;
}
a.toc:active {
    color: blue;
}
a.contact:link {
    text-decoration: none;
    color:whitesmoke;
}
a.contact:visited {
}
a.contact:hover {
}
a.contact:active {
}
.wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: whitesmoke;
    transition: all 0.4s ease-in-out;
}
#active:checked ~ .wrapper{
    right:0;
}
.menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid white;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
    transform: translateY(-8px);
}
.menu-btn:after{
    transform: translateY(8px);
}
.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: red;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
    border-color: red;
}
.wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li{
    height: 10%;
    margin: 15px 0;
}
.wrapper ul li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5pt;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: black;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}
.wrapper ul li a:hover{
    color: limegreen;
    text-decoration: underline;
}
input[type="checkbox"]{
    display: none;
}
.content1{
    z-index: -1;
    text-align: center;
    width: 100%;
    color: black;
    font-family: sans-serif;
    padding-top: 100px;
}
.content1 .title{
    font-size: 30px;
}
.content1 .intro{
  font-size: 35px;
  font-weight: 600;
}
.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: black;
    font-size:20pt;
}
.hello{
    font-weight: 300;
    font-size 50px;
    font-family: sans-serif;
    letter-spacing: 5pt;
    border: solid 3px black;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: magenta;
    box-shadow: 7px 7px whitesmoke;
    padding: 10px;
}
.wrapper2 {
  margin-top: 5%;
  width: 100%;
  height: 100%;
}

.line__1,
.line__2 {
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  margin: 0.5rem auto;
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
  font-weight: bold;
}

.line__1 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);
  animation: animated-text__1 1s steps(10, end) 1s 1 normal both,
    animated-cursor__1 500ms steps(10, end) 2;
}

.line__2 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);
  animation: animated-text__2 1s steps(10, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(10, end) infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: rgba(17, 17, 17, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}
#active:checked ~ .wrapper ul li a{
    opacity: 1;
}
.wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
    transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1);
    transition-delay: .6s;
    transform: translateX(-100px);
}
.mail {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-right: 30px;
    background: transparent;
    border: none;
    border-radius: 50px;
    align-content: center;
    box-shadow: 0px 0px 29px 0px rgb(45, 190, 255);
}
.mail:hover {
    border: solid 2px whitesmoke;
    color: whitesmoke;
}
.mail:active {
    transform: translateY(5px);
    box-shadow: 0px 5px 10px whitesmoke, 0px -5px 10px whitesmoke, inset 0px -2px 5px whitesmoke, inset 0px 2px 5px whitesmoke;
}
.linkedin {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-right: 30px;
    background: transparent;
    border: none;
    border-radius: 50px;
    align-content: center;
    box-shadow: 0px 0px 29px 0px rgb(45, 190, 255);
}
.linkedin:hover {
    border: solid 2px whitesmoke;
    color: whitesmoke;
}
.linkedin:active {
    transform: translateY(5px);
    box-shadow: 0px 5px 10px whitesmoke, 0px -5px 10px whitesmoke, inset 0px -2px 5px whitesmoke, inset 0px 2px 5px whitesmoke;
}
#top {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px;
    z-index: 99;
    font-size: 50px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: grab;
    padding: 15px;
    border-radius: 4px;
    width:50px;
    height:50px;
    align-content: center;
    text-align: center;
    line-height: .8;
    width:auto;
}

#top:hover {
    background-color: #555;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.resume1 {
    width: 50%;
    padding: 15px;
    color:white;
}
.resume2 {
    width: 50%;
    padding: 15px;
    color:white;
}
.resumelist {
    text-align: left;
    font-size:15pt;
    margin:10px;
    line-height: 1.5;
    color: white;
    padding-left: 35px;
}
.downloadresume {
    appearance: button;
    background-color: lightblue;
    border: 2px solid black;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 20px;
    letter-spacing: 3px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
}
.downloadresume:focus {
    text-decoration: none;
}
.downloadresume:hover {
    text-decoration: none;
    background-color: #7fc4db;
}
.downloadresume:active {
  box-shadow: rgba(0, 0, 0, .125) 0 2px 4px inset;
    background-color: #7fc4db;
}
.downloadresume:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
a.resumelink:link {
    text-decoration: none;
    color: black;
}
a.resumelink:hover {
    text-decoration: none;
    color:blue;
}
a.resumelink:active {
    text-decoration: none;
    color: blue;
}
.mySlides {
    display: none;
}
.mySlides2 {
    display: none;
}
img {
    vertical-align: middle;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width:auto;
    padding: 16px;
    margin-top: -22px;
    color: red;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
}
.prev:hover, .next:hover {
    background-color: black;
}
.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: black;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
.collapsible {
    background-color: darkseagreen;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 80%;
    border: solid black 1px;
    border-radius: 25px;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin: 10px;
    transition: .5s ease-out;
}

.active, .collapsible:hover {
    background-color: darkgreen;
    border: solid mediumpurple 3px;
    color: white;
}

.collapsible:after {
    float: right;
    margin-left: 5px;
    font-size: 17pt;
    color: black;
}

.active:after {
    font-size: 17pt;
    color: black;
}

.content2 {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
}

.uabguide {
    width: 100%;
    max-width: 80%;
    height: 800px;
}

.skillbar {
    width: 100%;
    border: 2px solid white;
    background-color: whitesmoke;
    border-radius: 20px;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    border-radius: 20px;
    line-height: 1pt;
    font-size: 10pt;
}

.reference {width: 100%; height: 20px;background-color: green;}
.ux {width: 90%; height: 20px;background-color: green;}
.research {width: 95%; height: 20px;background-color: green;}
.acquisitions {width: 85%; height: 20px;background-color: green;}
.metadata {width: 60%; height: 20px;background-color: green;}
.systems {width: 100%; height: 20px;background-color: green;}
.css {width: 100%; height: 20px;background-color: green;}
.html {width:100%; height: 20px;background-color: green;}
.java {width:70%; height: 20px;background-color: green;}

</style>
